h1{
  color: blue;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container{
  width: 50%;
  position: relative;
}

.chips{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 4px solid #370F6E;
  border-radius: 2px;
}

.chip{
  display: flex;
  background-color: #ccc;
  border-radius: 30px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  margin: 0px 15px 10px;
  height: max-content;
  box-sizing: border-box;
}

input{
  border: 0px solid;
  outline: none;
  padding: 10px;
}

.suggestions{
  list-style: none;
  padding: 0;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 450px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  z-index: 1;
  overflow-x: scroll;
  height: 50vh;
}

.flex-center{
  display: flex;
  align-items: center;
}

img{
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  text-align: left;
}

li:hover{
  background-color: gainsboro;
}

.chip-name{
  margin-right: 10px;
}

.highlight{
  border: 3px solid;
  border-color: #4805a5;
}

.email{
  color: gray;
}